.tile {
    height: 4em;
    width: 4em;
}

#board .grid{
    height: 4em;
    width: 4em;
    border: red 1px solid;
    margin: 3px;
    background-color: bisque;
}

#area {
    border: red 1px solid;
    background-color: ghostwhite;
}

#rack .grid{
    height: 4em;
    width: 4em;
    border: red 1px solid;
    margin: auto 3px 0 3px;
    background-color: bisque;
}

body {
    height: 100vh;
}

#board .double-word {
    background-color: lightpink;
}

.double-word div {
    font-size: small;
    text-align: center;
    font-weight: bold;
}

#rack {
    margin-top: auto;
}