span.open-sans {
    font-family: "Open Sans", sans-serif !important;
    font-size: 1em;
}
.sidebar {
    position: fixed;
    align-items: center;
    height: 100%;
    top: 0;
    bottom: 0;
}
.left.sidebar {
    left: 0;
 }
.right.sidebar {
    right: 0;
}
/*On top of sidebar*/
.navbar {
    z-index: 100;
}